@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .app-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.917);
}

.hero-top-height {
  margin-top: -5rem;
}
